// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";
@import "card";

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 30px;
  grid-row-gap: 20px;
  grid-column-gap: 45px;
  p {
    text-decoration: none;
  }

  p:hover {
    text-decoration: none;
    color: pink;
  }
}

.gradient {
   background-image: linear-gradient(to left, violet,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
   background-image: linear-gradient(to left, violet,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
