// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";
@import "card";

.wrapper {
  display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 60px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
}

.gradient {
   background-image: linear-gradient(to left, violet,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
   background-image: linear-gradient(to left, violet,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
