<!DOCTYPE html>
<html>
 <FORM>
    <P>
    Name: <INPUT type="text" name="Name"><BR>
    Description: <INPUT type="text" name="description"><BR>
    Price: <INPUT type="text" name="price"><BR>
      Photo: <INPUT type="file" name="photo"><BR>
    <INPUT type="submit" value="Find"> <INPUT type="reset">
          <head>
    <title>Title of the document</title>
    <style>
body {
  color:pink
}
</style>
  </head>
  <body style="background-color:#000000;">
    </P>
 </FORM>
