

<h1 style="color:pink;">Jewelleries</h1>
   <div class="wrapper">
    <% @jewelleries.each do |jewellery| %>
    <div class="card">
      <tr>
        <h2 style="color: pink;"><td><%= jewellery.name %></td></h2>
        <td><%= link_to 'Show', jewellery %></td>

      </tr>
      </div>
<% end %>
</div>
<br>

<%= link_to 'New Jewellery', new_jewellery_path %>
