
<br>
<h1 style="color:pink;" class="text-center">Jewelleries</h1>
   <div class="wrapper">
    <% @jewelleries.each do |jewellery| %>
    <%= link_to jewellery do%>
    <div class="card">
      <div class="card-image" style="background-image: url(<%=jewellery.photo%>)"></div>
      <div class="card-body">
          <h5 style="color: pink;"><%= jewellery.name %></h5>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<br>

<%= link_to 'New Jewellery', new_jewellery_path %>
