

<h1 style="color:pink;">Jewelleries</h1>

  <tbody>
    <% @jewelleries.each do |jewellerie| %>
      <tr>
        <td><%= jewellery.name %></td>
        <td><%= link_to 'Show', jewellery %></td>
          <td><%= link_to 'Edit', edit_jewellery_path(jewellery) %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Jewellery', new_jewellery_path %>
