 <div class="wrapper">
    <% @jewelleries.each do |jewellery| %>
    <%= link_to jewellery do%>
    <div class="card">
      <% if jewellery.photos.attached? %>
      <div class="card-image" style="background-image: url('<%= cl_image_path jewellery.photos.first.key, height: 200, width: 300, crop: :fill %>')"></div>
      <% else %>
      <div class="card-image" style="background-image: url('https://loremflickr.com/400/400/jewellery')"></div>
      <% end %>
      <div class="card-body">
          <h5 style="color: pink;"><%= jewellery.name %></h5>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<br>
<div class = "wrap">
<%= link_to 'New Jewellery', new_jewellery_path, class: "button" %>
</div>
